<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
		  <div class="panel-body">

		  	<div class="row">
		  		<div class="col-xs-8">
		  			<%= link_to trip.title, trip %>
		  		</div>

		      <div class="col-xs-4">
		        <%= link_to 'Destroy', trip, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
		      </div>
		    </div>

		  </div>
		</div>

	</div>
</div>

