
<div class="roadtrip_render">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12 col-sm-2">
					<div class="trip_places">
						<ul id="place_list">
							<% places.each do |place| %>
								<li><%= place.address %></li>
							<% end %>
						</ul>
					</div>
				</div>

				<div class="col-xs-12 col-sm-10">

					<script>
						$( document ).ready(function() {


							handler = Gmaps.build('Google');
							handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
							
								markers = handler.addMarkers(<%=raw hash.to_json %>);

							  handler.bounds.extendWith(markers);
							  handler.fitMapToBounds();
							});

						});
					</script>

					<div style='width: 800px;'>
					  <div id="map" style='width: 800px; height: 400px;'></div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>